body{
    background-image: url("media/Sunset.png");
    background-position: left center;
    background-size: cover;
}


canvas {
    
    x: 100;
    y: 100;
}

.base{
    display: flex;
    flex-flow: column;
    justify-content: end;

    margin: auto;

    height: 96vh;
    width: 98vw;
    border: 1px solid red;
}

.pacifico-regular {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: normal;
}

.pacifico {
    font-family: "Pacifico", serif;
    font-weight: 400;
    font-style: italic;
}

.head-text{
    text-align: center;
    font-size: 300%;
    color: rgb(255, 0, 0);
    border: 3px solid rgba(255, 125, 125, 0.374);
    border-radius: 20px;
    padding: 2%;
}

.main-text{
    border: 3px solid rgba(255, 125, 125, 0.374);
    border-radius: 20px;
    box-shadow: 0px 0px 20px rgba(255, 125, 125, 0.719);
    text-align: center;
    margin: auto;
    margin-top: 1%;
    width: 40%;
}

.flowers-box{
    position: relative;
    border: 3px solid black;
    margin: auto;
    margin-top: 10%;

    background-image: url("/media/Flower.png");
    
    /*bottom: 2.5%;
    width: 90%;
    height: 10%;
    margin: auto;*/
}